<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="./myapp/sources/web_images/pozadina.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>About us</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <a href="#">Pages</a>
                        <span>About</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->


<!-- About US Section Begin -->
<section class="aboutus-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 p-0">
                <div class="about-video set-bg" data-setbg="./myapp/sources/img/about-us.jpg">
                    <iframe width="750px" height="640px"
                        src="https://www.youtube.com/embed/Osd4DLpMNp4?si=AeN3MxTigXaF_HcA" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        allowfullscreen></iframe>
                </div>
            </div>
            <div class="col-lg-6 p-0">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Who are we, What we do</h2>
                    </div>
                    <div class="at-desc">
                        <p>Our team is composed of professional gym trainers with expertise from different domains
                            of fitness and health. Here, we nurture differences, and mutual understanding, so as our
                            team is of international nature, our community is versatile, and open to anyone as well.
                            Depending on your needs and aims, you will be given suitable training program and diet
                            by a trainer specified for that area in particular. All of our programs are widely
                            followed. Below are attached just some statistics, so feel free to choose the one that
                            suits you the best.</p>
                    </div>
                    <div class="about-bar">
                        <div class="ab-item">
                            <p>Fitness and yoga</p>
                            <div id="bar1" class="barfiller">
                                <span class="fill" data-percentage="80"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Core strengthening </p>
                            <div id="bar2" class="barfiller">
                                <span class="fill" data-percentage="85"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                        <div class="ab-item">
                            <p>Group trainings</p>
                            <div id="bar3" class="barfiller">
                                <span class="fill" data-percentage="75"></span>
                                <div class="tipWrap">
                                    <span class="tip"></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About US Section End -->

<!-- Team Section Begin -->
<section class="team-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="team-title">
                    <div class="section-title">
                        <span>Our Team</span>
                        <h2>TRAIN WITH EXPERTS</h2>
                    </div>
                    <a href="team.html" class="primary-btn btn-normal appoinment-btn">find us</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="ts-slider owl-carousel">
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="./myapp/sources/img/team/team-1.jpg">
                        <div class="ts_text">
                            <h4>Hannah Reiz</h4>
                            <span>Certified fitness trainer<br>Over 7 years of professional experience <br><a
                                    href="mailto: hannahreiz@example.com"><strong>Contact:</strong>
                                    hannah.reiz@gmail.com<br></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="./myapp/sources/img/team/team-2.jpg">
                        <div class="ts_text">
                            <h4>Husein Khan</h4>
                            <span>Certified fitness and box trainer<br>Over 10 years of professional
                                experience<br><a href="mailto: mail@example.com"><strong>Contact:</strong>
                                    husein.khan19@gmail.com<br></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="./myapp/sources/web_images/guy3.jpeg">
                        <div class="ts_text">
                            <h4>Athart Rachel</h4>
                            <span>International gym trainer and educator<br>Over 20 years of professional
                                expertise<br><a href="mailto: hannahreiz@example.com"><strong>Contact:</strong>
                                    athart.rachel@IntFit.edu.ba<br></a></span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="ts-item set-bg" data-setbg="./myapp/sources/web_images/kr.jpg">
                        <div class="ts_text">
                            <h4>Lejla Basic</h4>
                            <span>Yoga instructor<br>Perannial expertise in fitness, meditation, and mental
                                health<br><a href="mailto: hannahreiz@example.com"><strong>Contact:</strong>
                                    lejla.basic@MyHealth.edu.ba<br></a></span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
<!-- Team Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Community</span>
                    <h2>What our clinets say</h2>
                </div>
            </div>
        </div>
        <div class="ts_slider owl-carousel">
            <div class="ts_item">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ti_pic">
                            <img src="./myapp/sources/web_images/client.jpeg" width="25px" height="50px"
                                alt="our client">
                        </div>
                        <div class="ti_text">
                            <p>I have been part of this gym`s community for over five years so far. Not only that I
                                have progressed physically, but also mentally. <br>It is the approach of people here
                                that makes you feel valued, and fulfilled. <br>I would recommend anyone to join us
                                here,
                                and I promise you no regrets.This team, with modern machines they use, as well
                                as
                                their approach, and healthy nutrition, will bring you guaranteed visible
                                achievements on your physic, and psych, sooner than you could ever imagine. Then,
                                only maintance is upon you.</p>
                            <h5>Hamza Horvat</h5>
                            <div class="tt-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ts_item">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <div class="ti_pic">
                            <img src="./myapp/sources/img/testimonial/testimonial-2.jpg" alt="">
                        </div>
                        <div class="ti_text">
                            <p>I love this gym!<br>It is an environment that I would wish anyone to be surrounded
                                by. Trainers are ready 24/7 to help and answer all of your questions patiently and
                                in great detail. I especially enjoy healthy recipes available in live, and online.
                                Gym brought a balance in my life, and for that I am forever thankful!</p>
                            <h5>Anna Savic</h5>
                            <div class="tt-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->