<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="./myapp/sources/web_images/p2.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Our Blog</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <a href="#">Pages</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Blog Section Begin -->
<section class="blog-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0">
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="./myapp/sources/web_images/oats.jpg" alt="food">
                    </div>
                    <div class="bi-text">
                        <h5><a href="https://www.eatingbirdfood.com/summer-overnight-oats/ ">Make easy and
                                nutritious
                                overnight oats,
                                with just three ingredients..</a></h5>
                        <ul>
                            <li>by Brittany</li>
                            <li>January 15, 2024</li>
                            <li>15 Comments</li>
                        </ul>
                        <p>On diet, but crave sweets? <br>Try this easy, healthy recipe to change your way of
                            thinking regarding sweets.</p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="./myapp/sources/web_images/mix.webp" alt="equipment">
                    </div>
                    <div class="bi-text">
                        <h5><a
                                href="https://eliteclubs.com/do-you-actually-need-gym-equipment-and-a-trainer-to-stay-in-shape/#:~:text=No%20fitness%20equipment%20is%20required,to%20get%20a%20fitter%20body.">Is
                                equipment really crucial in the world of fitness and
                                health?</a></h5>
                        <ul>
                            <li>by Lorence S.</li>
                            <li>August 22, 2023</li>
                            <li>20 Comments</li>
                        </ul>
                        <p>Naturally, you can always choose to train from home or outdoors. However, fitness
                            trainers, and gym equipment exist for a reason.
                        </p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="./myapp/sources/web_images/salad.jpg" alt="fish">
                    </div>
                    <div class="bi-text">
                        <h5><a href="https://www.healthline.com/nutrition/11-health-benefits-of-fish">Life-worthy
                                benefits of including fresh fish in your diet
                            </a></h5>
                        <ul>
                            <li>by Admin</li>
                            <li>September 7, 2023</li>
                            <li>33 Comments</li>
                        </ul>
                        <p>Did you know? - that one ounce of fish may contain up to 30 grams of protein, and 10
                            grams of vitamin D,
                            <br>which is almost a double of regular daily intake at our areas.
                        </p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="./myapp/sources/web_images/cardio.webp" alt="cardio">
                    </div>
                    <div class="bi-text">
                        <h5><a
                                href="https://parade.com/health/what-happens-if-you-exercise-for-15-minutes-every-day#:~:text=%22Benefits%20include%20improved%20cardiovascular%20health,of%20exercise%20increases%20life%20expectancy.">Running
                                for 15 minutes daily for longer life</a></h5>
                        <ul>
                            <li>by Hannah R.</li>
                            <li>October 14, 2023</li>
                            <li>28 Comments</li>
                        </ul>
                        <p>Running with moderate tempo, either indoors, or outdoors, may burn as much as 250 kcal,
                            <br>which is equivalent to one mini chocolate or protein bar.
                        </p>
                    </div>
                </div>
                <div class="blog-item">
                    <div class="bi-pic">
                        <img src="./myapp/sources/web_images/weightlifter.jpeg" alt="weightlifter">
                    </div>
                    <div class="bi-text">
                        <h5><a
                                href="https://english.newsfirst.lk/2023/12/28/women-s-weightlifting-champion-sets-new-record">Our
                                client winning award for best regional weightlifter in
                                female category..</a></h5>
                        <ul>
                            <li>by Admin</li>
                            <li>December 28, 2023</li>
                            <li>45 Comments</li>
                        </ul>
                        <p>Last night, our client, who is part of our community for over five years,
                            has made a great achievement.
                            <br>We are proud of you!
                        </p>
                    </div>
                </div>
                <div class="blog-pagination">
                    <a href="#">1</a>
                    <a href="#">2</a>
                    <a href="#">3</a>
                    <a href="#">Next</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8 p-0">
                <div class="sidebar-option">
                    <div class="so-categories">
                        <h5 class="title">Categories</h5>
                        <ul>
                            <li><a href="#">Nutrition, diet, and recipes<span>12</span></a></li>
                            <li><a href="#">Yoga, and mental health<span>18</span></a></li>
                            <li><a href="#">Cardio, and weightloss<span>25</span></a></li>
                            <li><a href="#">Muscle buiding <span>36</span></a></li>
                            <li><a href="#">Actual competitions<span>53</span></a></li>
                        </ul>
                    </div>

                    <div class="col-lg-6">
                        <div class="leave-comment">
                            <h5>Leave a comment</h5>
                            <form id="commentForm" action="#">
                                <input type="text" id="commentName" placeholder="Name">
                                <input type="text" id="commentEmail" placeholder="Email">
                                <input type="text" id="commentWebsite" placeholder="Website">
                                <textarea id="commentText" placeholder="Comment" width></textarea>
                                <button type="submit">Submit</button>
                            </form>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>
    </div>
</section>
<!-- Blog Section End -->