<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="./myapp/sources/web_images/girl2.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Classes detail</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <a href="#">Classes
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Class Details Section Begin -->
<section class="class-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <div class="class-details-text">

                    <div class="cd-text">
                        <div class="cd-single-item">

                            <h3>Fitness</h3>

                            <p>This class encapsulates mutiple kinds of workout programs, such as
                                weight loose, cardio, as well as group trainings. The exact days, times, and
                                trainers that hold the classes can be checked out at the timetable section at our
                                webpage. </p>
                        </div>
                        <div class="cd-single-item">

                            <h3 style="color:aliceblue">Trainer</h3>

                            <p>Helena Jurek is certified fitness trainer, specialized primarily for fitness with
                                female population. She has achieved numerous certificates and awards for her work,
                                and is recognized locally, and nationally as one of our top-rated female sportists.
                                Currently, she is preparing for regional competition in female weightlifting. Her
                                knowledge is optimistically, and unselfishly sharing among our fitness community.
                            </p>
                        </div>
                    </div>
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-pic">
                                    <img src="./myapp/sources/web_images/img.jpeg" alt="trainer Helena Jurek">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <div class="trainer-title">
                                        <h4 style="color:#f36100">Helena Jurek</h4>
                                        <span>Female fitness trainer and weightlifter</span>
                                    </div>
                                    <div class="trainer-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                    </div>
                                    <p>"At the time that no one believes in you, be the one believing in yourself,
                                        and work in silence. The stronger your work in silence is, the better the
                                        outcomes."</p>
                                    <ul class="trainer-info">
                                        <li><span>Age</span>25</li>
                                        <li><span>Weight</span>130lbs</li>
                                        <li><span>Height</span>170cm</li>
                                        <li><span>Occupation</span>fitness trainer and weightlifter</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>




                <div class="class-details-text">

                    <div class="cd-text">
                        <div class="cd-single-item">

                            <h3><br><br>Strength</h3>

                            <p>This workout program is focused on building physical strength of the whole body,
                                including lower and upper body. However, as all of our classes, it is fully
                                personalized to one´s personal needs, and aims. For male category, focus is put on
                                strengthening upper body, and for females the lower one, including all leg muscles,
                                and glutes. </p>
                        </div>
                        <div class="cd-single-item">

                            <h3 style="color:aliceblue">Trainer</h3>


                            <p>Athart Rachel is our fitness trainer from US with perannial expertise in fitness,
                                health, and core and muscle building in particular. He has worked in this area from
                                younger ages, and developed his succes gradually by working in over 15 countries,
                                with hundreds of different clients.<br>This class includes body and core building,
                                as well as martial arts, such as boxing and karate, held by our trainer Husein Khan.
                            </p>
                        </div>
                    </div>
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-pic">
                                    <img src="./myapp/sources/web_images/guy3.jpeg" alt="trainer Athart Rachel">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <div class="trainer-title">
                                        <h4 style="color:#f36100">Athart Rachel</h4>
                                        <span>Certified International fitness trainer</span>
                                    </div>
                                    <div class="trainer-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                    </div>
                                    <p>"The best thing one could do is to wake up, and say, this is it, this is a
                                        day I am going to start making changes in my life, related to anything I am
                                        unsatisfied with. However, it is not just the willingness to start which
                                        matters, it is crucial, but what really matters, is the willingness to
                                        continue, and strength not to quit."</p>
                                    <ul class="trainer-info">
                                        <li><span>Age</span>35</li>
                                        <li><span>Weight</span>200lbs</li>
                                        <li><span>Height</span>190cm</li>
                                        <li><span>Occupation</span>fitness trainer and educator</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="class-details-text">

                    <div class="cd-text">
                        <div class="cd-single-item">

                            <h3><br><br>Meditation</h3>

                            <p>Here, we find connection between mind and body of crucial importance. Hence, we have
                                included meditation classes in our weekly workout programs.Throughout the week there
                                will be held yoga classes by Lejla Basic, who is specialized in domain of mental
                                health and fitness.<br>Join us in early morning sessions, to start your day
                                peacefully, restart your mind, and detox your body.</p>
                        </div>
                        <div class="cd-single-item">

                            <h3 style="color:aliceblue">Trainer</h3>

                            <p>Lejla Basic is a young student of psychology, who in free time loves doing yoga, and
                                has also finished courses from that area. Now, she is investing her time to share
                                her
                                tips and tricks for establishing peace of mind to others./p>
                        </div>
                    </div>
                    <div class="cd-trainer">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="cd-trainer-pic">
                                    <img src="./myapp/sources/web_images/kr.jpg" alt="trainer Athart Rachel">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="cd-trainer-text">
                                    <div class="trainer-title">
                                        <h4 style="color:#f36100">Lejla Basic</h4>
                                        <span>Yoga instructor and trainer</span>
                                    </div>
                                    <div class="trainer-social">
                                        <a href="#"><i class="fa fa-facebook"></i></a>
                                        <a href="#"><i class="fa fa-twitter"></i></a>
                                        <a href="#"><i class="fa fa-youtube-play"></i></a>
                                        <a href="#"><i class="fa fa-instagram"></i></a>
                                        <a href="#"><i class="fa  fa-envelope-o"></i></a>
                                    </div>
                                    <p>"The one thing I have learned so far is that everything starts and ends with
                                        your mind, your thoughts in particular. Also, none of us can deny body-mind
                                        connection. Hence, once we learn to rule over one, we automatically start
                                        ruling over the other one."</p>
                                    <ul class="trainer-info">
                                        <li><span>Age</span>22</li>
                                        <li><span>Weight</span>120lbs</li>
                                        <li><span>Height</span>168cm</li>
                                        <li><span>Occupation</span>yoga instructor and motivator</li>
                                    </ul>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <div class="col-lg-4 col-md-8">
                <div class="sidebar-option">
                    <div class="so-categories">
                        <h5 class="title">Categories</h5>
                        <ul>
                            <li><a href="./class-timetable.html">Body and core building</a></li>
                            <li><a href="./class-timetable.html">Boxing</a></li>
                            <li><a href="./class-timetable.html">Karate</a></li>
                            <li><a href="./class-timetable.html">Yoga</a></li>
                            <li><a href="./class-timetable.html">Weight loss</a></li>
                            <li><a href="./class-timetable.html">Cardio</a></li>
                            <li><a href="./class-timetable.html">Group and individual trainings</a></li>

                        </ul>
                    </div>
                    <div class="so-latest">
                        <h5 class="title">Latest posts</h5>
                        <div class="latest-large set-bg" data-setbg="./myapp/sources/img/letest-blog/latest-1.jpg">
                            <div class="ll-text">
                                <h5><a href="./blog.html">The latest news from last night`s match between..</a>
                                </h5>
                                <ul>
                                    <li>March 10, 2024</li>
                                    <li>20 Comment</li>
                                </ul>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="./myapp/sources/img/letest-blog/latest-2.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="./blog.html">Grilled Potato and Green Bean Salad</a></h6>
                                <span class="li-time">Aug 22, 2023</span>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="./myapp/sources/img/letest-blog/latest-3.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="./blog.html">Who won the award for this year`s gymnastics..</a></h6>
                                <span class="li-time">February 9, 2024</span>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="./myapp/sources/img/letest-blog/latest-4.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="./blog.html">Top-rated workouts for your back and..</a></h6>
                                <span class="li-time">January 15, 2024</span>
                            </div>
                        </div>
                        <div class="latest-item">
                            <div class="li-pic">
                                <img src="./myapp/sources/img/letest-blog/latest-5.jpg" alt="">
                            </div>
                            <div class="li-text">
                                <h6><a href="./blog.html">Through meditation to your inner-self, see how..</a>
                                </h6>
                                <span class="li-time">July 10, 2023</span>
                            </div>
                        </div>
                    </div>
                    <div class="so-banner set-bg" data-setbg="./myapp/sources/img/sidebar-banner.jpg">

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Class Details Section End -->