<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="hs-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="./myapp/sources/web_images/1.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your <strong>body</strong><br>and <strong>mind</strong></span>
                            <h1>Enhance <strong>gains</strong> by <strong>brains</strong></h1>
                            <a href="#login" class="primary-btn">Start now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="hs-item set-bg" data-setbg="./myapp/sources/img/hero/hero-2.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="hi-text">
                            <span>Shape your <strong>body</strong><br>and <strong>mind</strong></span>
                            <h1>Enhance <strong>gains</strong> by <strong>brains</strong></h1>
                            <a href="#login" class="primary-btn">Start now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Hero Section End -->

<!-- ChoseUs Section Begin -->
<section class="choseus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Why choose us?</span>
                    <h2>PUSH YOUR LIMITS FORWARD</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-034-stationary-bike"></span>
                    <h4>Modern equipment</h4>
                    <p>Train in an interactive modern environment with the equipment using brand new technologies,
                        from <b>explanatory videos</b>, provided via QR code, to <b>embedded repetition
                            counters</b>, accessible on each machine.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-033-juice"></span>
                    <h4>Healthy nutrition plan</h4>
                    <p>Feel free to consult with our team to get your <b>personalized diet plan</b> for achieving
                        your
                        fitness goals in a fast and healthy manner.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-002-dumbell"></span>
                    <h4>Professional training plan</h4>
                    <p>Enjoy the advantage of learning from <b>certified experts</b> with perennial experience in
                        domain of
                        fitness, health, and beyond.</p>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6">
                <div class="cs-item">
                    <span class="flaticon-014-heart-beat"></span>
                    <h4>Unique to your needs</h4>
                    <p>Each individual is treated fairly according to his needs, and a <b>personalized training
                            program</b> is made to match his current state, as well as his goals.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ChoseUs Section End -->

<!-- Classes Section Begin -->
<section class="classes-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Services</span>
                    <h2>WHAT WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="./myapp/sources/web_images/workout.jpg" alt="woman lifting weights in a gym">
                    </div>
                    <div class="ci-text">
                        <span>STRENGTH</span>
                        <h5>weightlifting</h5>
                        <a href="./class-details.html"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="./myapp/sources/web_images/cardio_outdoor.jpg" alt="indoors cardio">
                    </div>
                    <div class="ci-text">
                        <span>CARDIO</span>
                        <h5>run your way</h5>
                        <a href="./class-details.html"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="./myapp/sources/web_images/core2.jpg" alt="abs building">
                    </div>
                    <div class="ci-text">
                        <span>STRENGTH</span>
                        <h5>core building</h5>
                        <a href="./class-details.html"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="./myapp/sources/web_images/yoga2.jpg" alt="yoga">
                    </div>
                    <div class="ci-text">
                        <span>MEDITATION</span>
                        <h4>yoga</h4>
                        <a href="./class-details.html"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="class-item">
                    <div class="ci-pic">
                        <img src="./myapp/sources/web_images/group1.jpg" alt="group training">
                    </div>
                    <div class="ci-text">
                        <span>TRAINING</span>
                        <h4>group and individual trainings</h4>
                        <a href="./class-details.html"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>

                <div class="class-item">
                    <div class="ci-pic">
                        <img src="./myapp/sources/web_images/nutr1.jpg" alt="food">
                    </div>
                    <div class="ci-text">
                        <span>NUTRITION</span>
                        <h5>spirit and body connection</h5>
                        <a href="./blog.html"><i class="fa fa-angle-right"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Classes Section End -->


<!-- Pricing Section Begin -->
<section class="pricing-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Our Special Offers</span>
                    <h2>Choose your pricing plan</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>Student package</h3>
                    <div class="pi-price">
                        <h2>70.0 BAM</h2>
                    </div>
                    <ul>
                        <li>No daily access restrictions for <strong>one month</strong></li>
                        <li>Personal trainer</li>
                        <li>Free consultations</li>
                        <li>Free diet plan</li>
                        <li>Unlimited equipments</li>
                        <li>Pesonalized classes</li>
                    </ul>
                    <a href="./login.html" class="primary-btn pricing-btn">Enroll now</a>
                    <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>6 Months unlimited</h3>
                    <div class="pi-price">
                        <h2>250.0 BAM</h2>
                    </div>
                    <ul>
                        <li>No daily access restrictions</li>
                        <li>Personal trainer</li>
                        <li>Free consultations</li>
                        <li>Free diet plan</li>
                        <li>Free utilities (solarium, spa)</li>
                        <li>Unlimited equipments</li>
                        <li>Pesonalized classes</li>
                    </ul>
                    <a href="./login.html" class="primary-btn pricing-btn">Enroll now</a>
                    <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
            <div class="col-lg-4 col-md-8">
                <div class="ps-item">
                    <h3>12 Months unlimited</h3>
                    <div class="pi-price">
                        <h2>450.0 BAM</h2>
                    </div>
                    <ul>
                        <li>No daily access restrictions</li>
                        <li>Personal trainer</li>
                        <li>Free consultations</li>
                        <li>Free diet plan</li>
                        <li>Free utilities (solarium, spa, pool)</li>
                        <li>Unlimited equipments</li>
                        <li>Pesonalized classes</li>
                    </ul>
                    <a href="#login" class="primary-btn pricing-btn">Enroll now</a>
                    <a href="#" class="thumb-icon"><i class="fa fa-picture-o"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Pricing Section End -->

<!-- Gallery Section Begin -->
<div class="gallery-section">
    <div class="gallery">
        <div class="grid-sizer"></div>
        <div class="gs-item grid-wide set-bg" data-setbg="./myapp/sources/img/gallery/gallery-1.jpg">
            <a href="./myapp/sources/img/gallery/gallery-1.jpg" class="thumb-icon image-popup"><i
                    class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="./myapp/sources/img/gallery/gallery-2.jpg">
            <a href="./myapp/sources/img/gallery/gallery-2.jpg" class="thumb-icon image-popup"><i
                    class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="./myapp/sources/img/gallery/gallery-3.jpg">
            <a href="./myapp/sources/img/gallery/gallery-3.jpg" class="thumb-icon image-popup"><i
                    class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="./myapp/sources/img/gallery/gallery-4.jpg">
            <a href="./myapp/sources/img/gallery/gallery-4.jpg" class="thumb-icon image-popup"><i
                    class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item set-bg" data-setbg="./myapp/sources/img/gallery/gallery-5.jpg">
            <a href="./myapp/sources/img/gallery/gallery-5.jpg" class="thumb-icon image-popup"><i
                    class="fa fa-picture-o"></i></a>
        </div>
        <div class="gs-item grid-wide set-bg" data-setbg="./myapp/sources/img/gallery/gallery-6.jpg">
            <a href="./myapp/sources/img/gallery/gallery-6.jpg" class="thumb-icon image-popup"><i
                    class="fa fa-picture-o"></i></a>
        </div>
    </div>
</div>
<!-- Gallery Section End -->