<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="./myapp/sources/services_images/spa_bkg.webp">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb-text">
                    <h2>Services</h2>
                    <div class="bt-option">
                        <a href="./home.html">Home</a>
                        <span>Services</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->

<!-- Services Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>What we offer?</span>
                    <h2>Enjoy the full experience</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 order-lg-1 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="./myapp/sources/services_images/reception.jpeg" width="100%" height="100%"
                        alt="reception">
                </div>

                <div class="ss-text">
                    <h4>24/7 service</h4>
                    <p>Our reception is open throughout the whole day to you, so feel free to visit us and get
                        informed. We are always open to all of your questions.</p>
                    <a href="./blog.html">Explore</a>
                </div>

            </div>
            <div class="col-lg-3 order-lg-3 col-md-6 p-0">
                <div class="ss-pic">
                    <img src="./myapp/sources/services_images/pool.jpeg" width="100%" height="100%" alt="pool">
                </div>

                <div class="ss-text">
                    <h4>Fitness and pool</h4>
                    <p>At the top floor there is an extension of our fitness center with pool which fitness trainers
                        may use to show you some additional exercises which will aid your health.</p>
                    <a href="./blog.html">Explore</a>
                </div>
            </div>

            <div class="col-lg-3 order-lg-7 col-md-6 p-0">

                <div class="ss-pic">
                    <img src="./myapp/sources/services_images/sauna.jpeg" width="100%" height="100%" alt="sauna">
                </div>

                <div class="ss-text second-row">
                    <h4>Wellness and spa</h4>
                    <p>Next to the main workout area, there is a wellness complex, including a sauna, solarium, as
                        well as rooms
                        dedicated for giving massages by our specialists in that area.</p>
                    <a href="./blog.html">Explore</a>
                </div>

            </div>

            <div class="col-lg-3 order-lg-5 col-md-6 p-0">

                <div class="ss-pic">
                    <img src="./myapp/sources/web_images/food.jpg" width="100%" height="100" alt="food">
                </div>

                <div class="ss-text second-row">
                    <h4>Personalized diet and nutrition</h4>
                    <p>Enjoy our homemade recipes that you can try at home or at our local nutrition shop. Boost up
                        your energy before or after the training, depending on your personal needs.</p>
                    <a href="./blog.html">Explore</a>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Banner Section Begin -->
<section class="banner-section set-bg" data-setbg="./myapp/sources/services_images/massage.jpeg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="bs-text service-banner">
                    <h2>Try our special deals today.</h2>
                    <div class="bt-tips">Where health, beauty and fitness meet.</div>

                </div>
                <button id="pricesButton" class="primary-btn btn-normal appoinment-btn">prices</button>
            </div>

        </div>
    </div>
    </div>
    </div>
</section>
<!-- Banner Section End -->